
.hide {
	display: none;
}

body{
	background-color: #1B9AAA;
}

h1{
	color: #F8FFE5;
	font-family: sans-serif;
}

.btn {
	display: grid;
	justify-content: center;
	background-color: #06D6A0;
    color:#F8FFE5;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    font-size: 32px;
    font-weight: bold;
	line-height: 50px;
    border: none;
    box-shadow: 0 10px 10px #124A3A;
	margin: 80px auto auto auto;
}
input{

	width: 95%;
	height: 50px;
	text-align: center;
	font-size: large;
	font-weight: bold;
	display: grid;
	margin: 50px auto;
	border-radius: 5px;
	background-color: #f8faf3;


}
button{
	display: grid;
	justify-content: center;
	background-color: #06D6A0;
    color:#F8FFE5;
    border-radius: 10px;
    width: 350px;
    height: 50px;
    font-size: 32px;
    font-weight: bold;
	line-height: 50px;
    border: none;
    box-shadow: 0 10px 10px #124A3A;
	margin: 80px auto auto auto;
}


p{
	font-size: larger;
	font-weight: 900;
	font-family: sans-serif;
	text-align: center;
	color: #F8FFE5;
}